body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d6dce1ce;
    color: #333;
}
#class1 {
        display: flex;
        justify-content:center; /* Centers the links horizontally */
        align-items: center; /* Vertically centers the content (optional) */
        height: 10vh; /* Full viewport height */
        margin: 0; /* Remove default margin */
        
    }

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 100px;
  }

a {

    color: #101417;
    margin: 10px;
    font-size: 24px;
}

a:hover {
    text-decoration: underline;
    color: blue;
}

input[type="text"] {
    background-color: #d6dce1ce;   
    padding: 8px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #000000;
    width: 200px;
    font-size: 16px;
}

button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

/* Styling for the paragraph */
p {
    margin-top: 40px;
    margin-left: 100px;
    font-size: 18px;
    color: #000000;
}
#p1 {
    display: grid;
    column-gap: 40px;
    grid-template-columns: auto auto auto auto;
}
